* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* começo cabeçalho */
#paiCabecalho {
    background-color: #D0D0D0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
}

#filhoCabecalho {
    background-color: #D0D0D0;
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

#imgEsquerda {
    background-color: #D0D0D0;
    width: 30vw;
    height: 10vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

#imgLogo {
    width: 15vw;
    height: 8vh;
}

#botoesDireita {
    background-color: #D0D0D0;
    width: 30vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#headerBotaoLogin {
    background: rgba(255, 192, 203, 0);
    width: 5vw;
    height: 5vh;
    border-radius: 20px;
    font-size: 30px;
    padding: 20px 0px;
    border: none;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerBotaoCadastro {
    background: rgba(255, 192, 203, 0);
    width: 10vw;
    height: 5vh;
    border-radius: 20px;
    font-size: 30px;
    padding: 20px 0px;
    border: none;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerBotaoHome {
    background: rgba(255, 192, 203, 0);
    width: 5vw;
    height: 5vh;
    border-radius: 20px;
    font-size: 30px;
    padding: 20px 0px;
    border: none;
    font-weight: 900;
    text-transform: uppercase;
    color: #FF4500;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerBotaoHome:hover {
    font-size: 25px;
    border: none;
    color: #FF4500;
    cursor: pointer;
}

#headerBotaoCadastro:hover {
    font-size: 25px;
    border: none;
    color: black;
    cursor: pointer;
}

#headerBotaoLogin:hover {
    font-size: 25px;
    border: none;
    color: black;
    cursor: pointer;
}

/* fim do cabeçalho */

/* começo do banner */
#paiBanner {
    background-color: #D0D0D0;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filhoBanner {
    background-color: #D0D0D0;
    width: 95%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#bannerEsquerda {
    background-color: #D0D0D0;
    width: 50vw;
    height: 20vh;
}

#imgBanner {
    width: 30vw;
    height: 60vh;
}

#bannerTitulo1 {
    font-size: 60px;
    text-shadow: 0px 2px 5px grey;
}

#bannerTitulo2 {
    font-size: 70px;
    color:  #553cbe;
    text-shadow: 0px 2px 5px grey;
}

#cadastroBanner {
    width: 13vw;
    font-size: 22px;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 700;
    text-transform: uppercase;
    background: #FF4500;
    color: #ffffff;
    letter-spacing: 3px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00000056;
}

#cadastroBanner:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* fim do banner */

/* Começo do Contato */
.div_rodape{
    display: flex;
    flex-direction: column;
    background: rgb(2,35,61);
    background: -moz-linear-gradient(0deg, rgba(2,35,61,1) 0%, rgba(6,60,106,1) 53%, rgba(5,79,142,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(2,35,61,1) 0%, rgba(6,60,106,1) 53%, rgba(5,79,142,1) 100%);
    background: linear-gradient(0deg, rgba(2,35,61,1) 0%, rgba(6,60,106,1) 53%, rgba(5,79,142,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#02233d",endColorstr="#054f8e",GradientType=1); 
}

.titulo_contato{
    align-self: center;
    font-size: 3vw;
    color: #ffffff;
    margin-bottom: 3.5vh;
}

.div_contato{
    display: flex;
    justify-content: space-between;
}
.box_contato{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    height: 45vh;
}

.box_btn{
    margin-top: auto;
    margin-bottom: auto;
}

.img_logo{
    width: 14vw;
    height: 5vh;
}

.icon_social_media{
    width: 3vw;
    height: 5.5vh;
}

.box_btn{
    display: flex;
    flex-direction: column;
}

.titulo_box{
    color: white;
    font-size: 1.8vw;
}
.btn_menu{
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 1.5vw;
}

#btnAtivo{
    color: #FF4500;
    font-weight: 600;
}

.input_contato{
    width: 16vw;
    height: 5vh;
    padding: 1px 10px;
    border-radius: 1vh;
    background-color: #D0D0D0D9;
    border: none;
}

#text_area_contato{
    height: 16vh;
}

.btn_enviar{
    width: 10vw;
    height: 4vh;
    background-color: #FF4500;
    color: #ffffff;
    border: none;
    border-radius: 1vh;
    font-size: 2.7vh;
}

.btn_enviar:hover{
    cursor: pointer;
    transform: translateY(0.5vh);
    opacity: 80%;
    
}

.btn_menu:hover{
    cursor: pointer;
    border-bottom: #FF4500 solid 1px;
    transform: scale(1.1);
}

.img_logo:hover{
    cursor: pointer;
}

.icon_social_media:hover{
    cursor: pointer;
    transform: scale(1.3);
}

.input_contato::placeholder{
    color: #000000;
    font-weight: 600;
}
/* Fim do Contato */