/* redefinindo as tag */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
.maps{
    z-index: 0;
    height: 20rem;
    width: 100%;
    
}

.li {
    width: 11rem;
}

.feedbackForm {
    
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    z-index: 99;
    right: 4%;
    height: 35.2rem;
    width: 30rem;
    bottom: 3rem;
    justify-content: space-around;
    padding: 70px;
    box-shadow: 7px 5px 7px 2px rgb(95, 92, 92);
}
.feedbackForm input{
    border-bottom: 2px solid black;
}  
.feedbackForm ::placeholder{
    padding-left: 0.5rem;
}

 .enviarMensagem {
    color:white;
    font-size: 15px;
    background-color: black;
    position:absolute;
    top: 31rem;
    left:22rem;
    z-index:3;
    height:2rem;
    width: 10rem;
    box-shadow: 2px 2px 2px 2px rgb(95, 92, 92);
    text-transform: uppercase;

} 

.rodape {
    position: relative;
    display: flex;
    width: 100%;
    height: 18rem;
}



.faleConosco {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
    
}

.links {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-decoration: none;
}
a{
    color:black;
    text-decoration: none;
}

.copyright {
    justify-content: center;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid gray;
    
}
.copyright span{
    justify-content: space-around;
    padding: 23px;
}
#copy{
    color:#B4B4B4;
    margin: 4px;
}

.divIcon {
    /* não sei como bota espaço entre os ícones */
    /* background-color: blueviolet; */
    display: flex;
    padding:20px;
}

.icon {
    display: flex;
    width: 2rem;
    height: 2rem;
    padding: 2px;
}

 .copyright #nocline {
    height:4rem;

} 